# Compiled output
/dist
/tmp
/out-tsc

# Angular specific
/.angular
/node_modules
/src/**/*.js
/src/**/*.map
/src/**/*.js.map

# IDE specific
/.idea
/.vscode
.DS_Store
Thumbs.db

# Environment files
/src/environments/*.ts

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
/build
